{
  "default": "ergon",
  "instances": {
    "ergon": {
      "host": "https://jira.example.com",
      "token": "<ERGON_PERSONAL_ACCESS_TOKEN>",
      "projects": ["CORTAB"]
    },
    "corris": {
      "host": "https://example.atlassian.net",
      "type": "cloud",
      "email": "<ATLASSIAN_ACCOUNT_EMAIL>",
      "token": "<CORRIS_API_TOKEN>",
      "projects": ["SADM", "ITSD", "CSW"]
    }
  }
}
